.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  align-items: center;
  background: rgba(20, 20, 20, 0.4);
}

.modal {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  background: #fff;
}

.modal:focus {
  outline: 0;
}

.modalBody {
  padding: 40px;
}

.closeButton {
  display: block;
  width: 100%;
  padding: 15px 10px;
  background: transparent;
  border: 0;
  border-top: 1px solid #ccc;
  border-radius: 0 0 8px 8px;
  appearance: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
}

.closeButton:hover,
.closeButton:focus {
  outline: 0;
  background: #f7f7f7;
}
